name: Releases Build

on:
# release:
#   types: [ "published" ]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Release tag (e.g., v1.0.0)'
        required: true
      name:
        description: 'Release name'
        required: false
      body:
        description: 'Changelog'
        required: false
      prerelease:
        description: 'Set true for prerelease/beta'
        required: false
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
    - name: Build with Gradle Wrapper
      run: gradle build
    - name: Find correct JAR
      id: findjar
      run: |
        output="$(find build/libs -type f ! -name "*-dev.jar" ! -name "*-sources.jar" -printf "%f\n" | head -n1)"
        if [ -z "$output" ]; then echo "No JAR found" >&2; exit 1; fi
        echo "jarname=$output" >> $GITHUB_OUTPUT
    - name: Upload to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: build/libs/${{ steps.findjar.outputs.jarname }}
        asset_name: ItemCaster-${{ github.event.release.tag_name }}.jar
        asset_content_type: application/java-archive
    - name: Upload to Modrinth
      uses: RubixDev/modrinth-upload@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        file_path: build/libs/${{ steps.findjar.outputs.jarname }}
        name: ${{ github.event.release.name }}
        version: ${{ github.event.release.tag_name }}
        changelog: ${{ github.event.release.body }}
        relations: nfGCP9fk:required,NLuc7Jjh:required
        game_versions: 1.20,1.20.1,1.20.2,1.20.3,1.20.4,1.20.5,1.20.6,1.21,1.21.1
        release_type: ${{ github.event.release.prerelease ? 'beta' : 'release' }}
        loaders: paper,spigot,pupur
        featured: true
        project_id: EkjBKVnH