name: Releases Build

on:
  release:
    types: [ "published" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
    - name: Build with Gradle Wrapper
      run: gradle build
    - name: Find correct JAR
      id: findjar
      run: |
        output="$(find build/libs -type f ! -name "*-dev.jar" ! -name "*-sources.jar" -printf "%f\n" | head -n1)"
        if [ -z "$output" ]; then echo "No JAR found" >&2; exit 1; fi
        echo "jarname=$output" >> $GITHUB_OUTPUT
    - name: Upload to the GitHub release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: build/libs/${{ steps.findjar.outputs.jarname }}
        asset_name: ItemCaster-${{ github.event.release.tag_name }}.jar
        asset_content_type: application/java-archive
    - name: Upload to Modrinth
      uses: cloudnode-pro/modrinth-publish@v2
      with:
        token: ${{ secrets.MODRINTH_TOKEN }}
        project: EkjBKVnH
        name: ${{ github.event.release.name }}
        version: ${{ github.event.release.tag_name }}
        changelog: ${{ github.event.release.body }}
        loaders: |-
          paper
          spigot
          purpur
        game-versions: |-
          1.20.x
          1.21.x
        files: build/libs/${{ steps.findjar.outputs.jarname }}